<div id="index__wrapper">
  <div id="index__content">
    <ul id="index__list_of_articles">
      <% @articles.each do |article| %>
        <li><%= link_to article.title, article %></li>
      <% end %>
    </ul>
    <%= link_to "Novo post", new_article_path %>
  </div>
</div>
