<h1>Nova postagem</h1>

<form action="/articles" accept-charset="UTF-8" method="post">
 <div>
    <label for="article_title">Title</label><br>
    <input type="text" name="article[title]" id="article_title">
  </div>

  <div>
    <label for="article_content">Content</label><br>
    <input id="article_content" name="article[content]" type="hidden">

    <trix-editor input="article_content" class="trix-content"></trix-editor>
  </div>

  <div>
    <input type="submit" name="commit" value="Create Article" data-disable-with="Create Article">
  </div>
</form>