#header__wrapper {
  position: sticky;
  top: 0;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 60px;
  background-color: #8c7ae6;
}

#header__title > a{
  font-size: 2.4rem;
  color: #f5f6fa;
  text-decoration: none;
  user-select: none;
}