#new__wrapper {
  display: flex;
  justify-content: center;

  width: 100%;
}

#new__content {
  width: 100%;
  max-width: 1080px;
  padding: 24px 16px;
  background-color: #ffffff;
  border: 1px solid gray;
}

#new__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#new__form_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#new__form_title label {
  color: #333;
  font-size: 1.8rem;
}

#new__form_title input {
  overlay: none;
  padding: 8px 12px;
  border-radius: 4px;
  width: 100%;
  max-width: 720px;
  border: 1px solid gray;
  font-size: 1.6rem;
}